<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="ion-page" id="main-content">
  <ion-content [fullscreen]="true">
    <h2 class="text-center">SOCIAL</h2>

    <div class="ion-padding">
      <ion-row class="ion-justify-content-center">
        <ion-col size="3">
          <ion-button expand="full" color="primary" (click)="selectSection('friends')">Amigos</ion-button>
        </ion-col>

        <ion-col size="3">
          <ion-button expand="full" color="secondary" (click)="selectSection('games')">Partidas</ion-button>
        </ion-col>

        <ion-col size="3">
          <ion-button expand="full" color="tertiary" (click)="selectSection('chats')">Chats</ion-button>
        </ion-col>

        <ion-col size="3">
          <ion-button expand="full" color="tertiary" (click)="openGameModal()">+</ion-button>
        </ion-col>
      </ion-row>
    </div>

    <div class="container" *ngIf="selectedSection === 'friends'">
      <div class="row">
        <div class="col-md-6 col-12 mb-2" *ngFor="let friend of friends">
          <div class="card custom-card">
            <div class="card-body d-flex align-items-center">
              <img [src]="friend.photo" class="friend-img" alt="{{ friend.name }}">
              <div class="friend-info">
                <h5 class="card-title">{{ friend.name }}</h5>
                <p class="card-text" [ngClass]="{
                'text-success': friend.status === 'Activo',
                'text-muted': friend.status === 'Offline'
              }">{{ friend.status }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" *ngIf="selectedSection === 'games'">
      <h3 class="text-center">Partidas Disponibles</h3>
      <div class="row">
        <div class="col-12 mb-3" *ngFor="let game of games; let i = index">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ game.name }}</h5>
              <p class="card-dd">Jugadores en espera: {{ game.waitingPlayers }} / {{ game.maxPlayers }}</p>
              <ion-button class="ppp" expand="full" color="success">Unirse a la partida</ion-button>
              <ion-button class="ppp" expand="full" color="warning" (click)="openGameModal(game)">Editar</ion-button>
              <ion-button class="ppp" expand="full" color="danger" (click)="deleteGame(i)">Eliminar</ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" *ngIf="selectedSection === 'chats'">
      <h3 class="text-center">Chats Disponibles</h3>
      <div class="row">
        <div class="col-12 mb-3" *ngFor="let chat of chats">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ chat.name }}</h5>
              <p class="card-dd">Último mensaje: "{{ chat.lastMessage }}"</p>
              <ion-button class="ppp" expand="full" color="tertiary">Unirse al chat</ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </ion-content>
</div>