/* filepath: /c:/Users/herre/OneDrive/Escritorio/UTCV/5 Cuatrimestre/DESARROLLO MOVIL MULTIPLATAFORMA/subogit/GameParty/gameParty/src/app/shared/group-modal/group-modal.component.scss */
:host {
    display: block;
  }
  
  ion-modal {
    --width: 90%;
    --height: 90%;
    --border-radius: 10px;
  }